body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 310px;
    height: 310px;
    flex-wrap: wrap;
    animation: contain 0.2s ease-in-out infinite;


    .cases {
        width: 92px;
        height: 92px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 3px rgba(black, 0.2);
    }
}
.round {
    color: blue;
    font-size: 32px;
    font-weight: bold;
    font-family: "Helvetica";
}
.cross {
    color: red;
    font-size: 32px;
    font-weight: bold;
    font-family: "Helvetica";
    transition: opacity 3s ease-out;
}

.textEnd {
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    font-family: "Helvetica";
}

@keyframes contain {
    0% {transform: translate(-5px, -5px) rotate(1deg)}
    100% {transform: translate(5px, 5px) rotate(0deg)}
}